<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> Navigation Menu</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <div class="logo">
            Lesson Plan Management System
        </div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/subjects">Subject</a></li>
            <li><a href="#">Assignments</a></li>

        </ul>
        <div class="navbar-end">
            <div class="navbar-item">
                <form action="/logout" method="post"><button type="submit" class="button is-primary">Log out</button></form>
            </div>
        </div>
        </div>
        </div>
    </nav>


    <main>
        <ol class="gradient-list">
            <li>
                <a href="/subjects/<%= subject._id %>/plan ">View Plan</a></li>
            <li>
                <a href="/subjects/<%= subject._id %>/assignment/new ">Create Assignment</a></li>
            <li>
                <a href="/subjects/<%= subject._id %>/assignment ">View Assignment</a></li>
            <li>
                <a href="/subjects/<%= subject._id %>/resources/new ">Create Resources</a></li>
            <li>
                <a href="/subjects/<%= subject._id %>/resources ">View Resources</a></li>
        </ol>
    </main>
</body>

</html>